/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/******header ******/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: flex-end;
    left: 30px
}

header img {
    height: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

/***Nav***/
nav {
    display: flex;
    flex-direction: row;
}

nav a {
    padding: 15px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-top: #0065FC 2px solid;
    color: #0065FC;
}

nav a :visited {
    color: black;
}

/*********Barre de recherche******/

#search_input {
    display: flex;
    height: 49px;
    align-items: center;
    text-align: center;
}

#search_input i {
    width: 49px;
    height: 49px;
    background-color: #0065FC;
    color: white;
    border: #0065FC 2px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#research {
    display: flex;
    width: 195px;
    height: 49px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    
}

.submit {
    display: flex;
    height: 49px;
    width: 132px;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
}

#research-button {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 30px;


}

i.fa-location-dot {

    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    border-right: none;
    background-color: #F2F2F2;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 12px;


}
/**filtres**/

.filtre_slogan h1 {
    font-size: 22px;
    font-weight: 700;
    padding-top: 10px;
    margin-left: 12px;

}

.filtre_slogan p {
    padding-top: 10px;
    margin-left: 12px;
}

.filtre_titre h2 {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.filtre-recherche {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-left: 12px;
}

.filtre-recherche article {
    border: #DEEBFF 2px solid;
    border-radius: 25px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

article h3 {
    display:flex;
    font-size: 16px;
   

}

.selection_filtre {
    display: flex;
    justify-content: space-between
}

.box1 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
    gap: 15px;
}

.box2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
    gap: 15px;

}

.filtre-recherche article:hover {
    background-color: var(--filter-bg-color);
}

.selection_filtre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.info {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 100%;
    margin-bottom: 35px;
    padding-top: 20px;
    margin-left: 12px;


}

i.fa-info {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    border: #d9d9d9 3px solid;
    border-radius: 40px 40px 40px 40px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

#hebergements-title {
    display: flex;
    margin-bottom: 30px;
    padding-left: 0px;

}

#hebergements-title .section-title {
    display: flex;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.hebergements-cards .card {
    display: flex;
    padding: 5px;
    position: relative;
}

.hebergements-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 124px;
    object-fit: cover;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.info_plus {
    display: flex;
    padding-top: 10px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*****section activites*****/
#activites-title {
    display: flex;   
    margin-top: 30px;
    padding-bottom: 20px;
}

.container .ligne img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 381px;
    object-fit: cover;
}

.container .ligne article {
    width: 40%;
    ;
}

.container .ligne {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.container h3 {
    padding-left: 12px;
    padding-bottom: 8px;

}

.container .ligne .card {
    padding: 0;
}

.container .card-title {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 4px;
}

/*****Footer*****/
footer {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    padding: 33px;
}

footer .colonne {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

footer a {
    text-decoration: none;
}

footer h3 {
    padding-bottom: 5px;
    padding-top: 15px;
}

footer a:visited {
    color: black
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width:767.98px) and (max-width: 1024px) {
    .main-container {
        width: 100%;
        max-width: 1440px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;

    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .filtre-recherche {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        margin-left: 12px;
    }

    .filtre_titre h2 {
        display: flex;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        font-weight: 700;
    }

    .filtre-recherche article {
        border: #DEEBFF 1px solid;
        border-radius: 25px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .box1 {
        display: flex;
        flex-direction: row;
        margin: 10px;
        gap: 15px;
    }

    .box2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        gap: 15px;

    }
}.selection_filtre {
    display: flex;
    justify-content: center;
}

/* Small devices (phones, less than 768px) */
@media (min-width:320px) and (max-width: 767.98px) {
    body {
        margin: 0;
    }

    /***nav***/
    nav {
        width: 100%;

    }

    nav a {
        display: block;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        border-bottom: #DEEBFF 2px solid;
        width: 100%;
        text-align: center;
    }

    nav a:hover {
        border-top: 8px;
        border-bottom: var(--main-color) 2px solid;
    }

    /***Header***/
    header {
        flex-direction: column;
        gap: 33px;
    }

    header div {
        margin: auto;

    }

    header nav {
        width: 100%;
        justify-content: space-around;
    }

    /*** barre de recherche***/
    .titre-filtre {
        align-self: flex-start;

    }
    .recherche {
        width: 100%;
    }

    #search_input {
        width: 70%;
    }

    #search_input i {
        width: 52px;
        height: 49px;
        background-color:#0065FC;
        color: white;
        border: #0065FC 2px solid;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        padding:0 12px;
        
    }

    #research {
        display: flex;
        width: 147px;
        height: 49px;
        border: none;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }

    .submit {
        display: none;
        height: 49px;
        width: 132px;
        background-color: #0065FC;
        color: white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        border: none;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 16px;
        padding-right: 16px;
    }

    #research-button {
        display: flex;
        align-items: center;
        height: 49px;
        width: 90%;
        border: none;
        font-size: 18px;
        font-weight: 700;
        padding-top: 50px;
        
    }


    i.fa-location-dot {
        width: 10%;
        padding: 0 5px;
    }

    .box1 {       
        width: 80%;
        display: flex;
        flex-wrap: nowrap;      
       
        
    }

    .box2 {
        width: 80%;       
        display: flex;
        flex-wrap: nowrap;       
        

    }

    .filtre-recherche {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;       
        align-items:center;
        margin-left: 0;
        
    }

    .filtre_titre h2 {
        display: block;
        flex-wrap: nowrap;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        font-weight: 700;
        
    }

    .filtre-recherche article {        
        width:50%;          
        border: #DEEBFF 1px solid;
        border-radius: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        

    }
.selection_filtre {
    
    display:flex;
    justify-content:center;  
}
.titre-filtre {
    margin-left:12px;
}
    /*** section populaire***/
    .main-container {
        margin:0;
        padding-left: 0;
        padding-right: 0;
        box-sizing: content-box;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .populaires {
        width: 100%;
       

    }

    .hebergements-and-populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 100%;
    }

    /****section hebergement***/

    .hebergements {
        width: 100%;
    }

    .hebergements-and-populaires .populaires {
        background-color: #F2F2F2;
        background-size: cover;

    }

    .hebergements-and-populaires section {}

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires .hebergements {
        background-color: transparent;

    }

    .hebergements-cards {
        width: 100%;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 30px;
    }

    /***section activités***/
    .container .ligne img {
        width: 100%;
        height: 124px;
    }

    .container .ligne article {
        width: 100%;
        margin-top: 33px;
    }

    .container .ligne {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px;
    }

    .container .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    #activites-title {
        margin: 30px;
    }

    /***Footer***/
    footer {
        flex-direction: column;
        padding: 33px;
    }

    footer article {
        margin-bottom: 33px;
    }


}